:root {
  --calevent-grey: #999;
  --calevent-grey-light: #e6e6e6;
  --calevent-color-day: #ce9459;
  --calevent-color-link: #418fde;
  --calevent-color-hover: #002855; }

.view-calevents .view-grouping-header, #calevents-minimonth .header h2 {
  border: 2px var(--calevent-grey-light) solid;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  padding: 8px;
  text-align: center; }

.view-calevents h3 .month, #calevents-minimonth .day .day-name {
  color: var(--calevent-grey);
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 20px;
  text-transform: uppercase; }

.view-calevents h3 .day, #calevents-minimonth .day .day-number {
  color: var(--calevent-color-day);
  font-size: 24px;
  line-height: 32px;
  font-weight: bold; }

body {
  color: #222;
  font-family: "Open Sans",sans-serif;
  margin: 0;
  padding: 32px; }

a[href] {
  color: var(--calevent-color-link);
  transition: all 250ms; }
  a[href]:hover {
    color: var(--calevent-color-hover); }

.view-calevents {
  padding-bottom: 16px; }
  .view-calevents.calevents-js-processed {
    display: none; }
  .view-calevents::after {
    /* clearfix */
    clear: both;
    content: "";
    display: block; }
  .view-calevents * {
    box-sizing: border-box;
    margin: 0;
    position: relative; }
  .view-calevents .view-grouping::after {
    /* clearfix */
    clear: both;
    content: "";
    display: block; }
  .view-calevents .view-grouping-header {
    /* should be like an h2 */
    margin: 16px 0 0 0; }
  .view-calevents h3,
  .view-calevents .calevent {
    padding-bottom: 8px;
    padding-top: 8px; }
  .view-calevents h3 {
    clear: both;
    float: left;
    font-weigth: normal;
    width: 64px; }
    .view-calevents h3 .month {
      display: block;
      text-align: center;
      width: 48px; }
    .view-calevents h3 .day {
      display: block;
      text-align: center;
      width: 48px; }
  .view-calevents h3:first-child,
  .view-calevents .calevent + h3 {
    margin-top: 16px; }
  .view-calevents h3 + .calevent {
    margin-top: 16px; }
  .view-calevents .calevent {
    border-left: 2px #eee solid;
    float: right;
    padding-left: 30px;
    width: calc(100% - 64px); }
    .view-calevents .calevent .time {
      color: var(--calevent-grey);
      font-size: 14px;
      line-height: 20px; }
    .view-calevents .calevent.allday .time .date-display-single {
      background-color: rgba(190, 112, 33, 0.1);
      /* mostly transparent version of #de8f41 */
      border: 1px rgba(190, 112, 33, 0.5) solid;
      border-radius: 2px;
      color: #be7021;
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 12px;
      padding: 3px 6px;
      text-transform: uppercase; }
    .view-calevents .calevent h4 {
      font-size: 18px;
      line-height: 24px;
      padding-top: 4px; }

#calevents-minimonth {
  position: relative; }
  #calevents-minimonth .header {
    position: relative; }
    #calevents-minimonth .header h2 {
      margin: 0; }
    #calevents-minimonth .header .left,
    #calevents-minimonth .header .right {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 18px auto;
      cursor: pointer;
      height: 28px;
      margin-top: -14px;
      top: 50%;
      position: absolute;
      width: 28px; }
    #calevents-minimonth .header .left {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-left" stroke="none" stroke-width="1" fill="#999999" points="10 32 42 0 49 7 24 32 49 57 42 64"></polygon></svg>');
      left: 8px; }
      #calevents-minimonth .header .left:hover {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-left" stroke="none" stroke-width="1" fill="#002855" points="10 32 42 0 49 7 24 32 49 57 42 64"></polygon></svg>'); }
    #calevents-minimonth .header .right {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-right" stroke="none" stroke-width="1" fill="#999999" points="54 32 22 64 15 57 40 32 15 7 22 0"></polygon></svg>');
      right: 8px; }
      #calevents-minimonth .header .right:hover {
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-right" stroke="none" stroke-width="1" fill="#002855" points="54 32 22 64 15 57 40 32 15 7 22 0"></polygon></svg>'); }
  #calevents-minimonth .month {
    opacity: 0; }
    #calevents-minimonth .month.new {
      -webkit-animation: fadeIn 1s ease-out;
      -moz-animation: fadeIn 1s ease-out;
      animation: fadeIn 1s ease-out;
      opacity: 1; }
    #calevents-minimonth .month.in.next {
      -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
      -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
      animation: moveFromTopFadeMonth 0.4s ease-out;
      opacity: 1; }
    #calevents-minimonth .month.out.next {
      -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
      -moz-animation: moveToTopFadeMonth 0.4s ease-in;
      animation: moveToTopFadeMonth 0.4s ease-in;
      opacity: 1; }
    #calevents-minimonth .month.in.prev {
      -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
      -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
      animation: moveFromBottomFadeMonth 0.4s ease-out;
      opacity: 1; }
    #calevents-minimonth .month.out.prev {
      -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
      -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
      animation: moveToBottomFadeMonth 0.4s ease-in;
      opacity: 1; }
  #calevents-minimonth .week {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px; }
  #calevents-minimonth .day {
    flex: 0 1 calc(100% / 7);
    text-align: center; }
    #calevents-minimonth .day.other {
      opacity: 0.25; }
      #calevents-minimonth .day.other .day-number {
        color: var(--calevent-grey); }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; } }

@keyframes fadeIn {
  from {
    opacity: 0; } }

@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95); } }

@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(30%) scale(0.95); } }

@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    transform: translateY(30%) scale(0.95); } }

@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95); } }

@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(-30%) scale(0.95); } }

@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    transform: translateY(-30%) scale(0.95); } }

@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95); } }

@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%) scale(0.95); } }

@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    transform: translateY(-30%) scale(0.95); } }

@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95); } }

@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%) scale(0.95); } }

@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    transform: translateY(30%) scale(0.95); } }
