$blue:#418fde;
$blue-dark:#002855;
$break-desktop:1024px;
:root {
  --calevent-grey:#999;
  --calevent-grey-light:#e6e6e6;
  --calevent-color-day:#{mix(invert($blue),white,75%)};
  --calevent-color-link:#{$blue};
  --calevent-color-hover:#{$blue-dark};
}
%calheader {
  border:2px var(--calevent-grey-light) solid;
  border-radius:4px;
  font-size:22px;
  font-weight:bold;
  line-height:28px;
  padding:8px;
  text-align:center;
}
%caldayname {
  color:var(--calevent-grey);
  font-size:12px;
  font-weight:normal;
  letter-spacing:0.05em;
  line-height:20px;
  text-transform:uppercase;
}
%caldaynum {
  color:var(--calevent-color-day);
  font-size:24px;
  line-height:32px;
  font-weight:bold;
}
body {
  color:#222;
  font-family:"Open Sans",sans-serif;
  margin:0;
  padding:16px;
  @media (min-width:400px) {
    padding:32px;
  }
}
a[href] {
  color:var(--calevent-color-link);
  transition:all 250ms;
  &:hover {
    color:var(--calevent-color-hover);
  }
}
.view-calevents {
  padding-bottom:16px;
  &.calevents-js-processed {
    display:none;
  }
  &::after { /* clearfix */
    clear:both;
    content:"";
    display:block;
  }
  * {
    box-sizing:border-box;
    margin:0;
    position:relative;
  }
  .view-grouping {
    &::after { /* clearfix */
      clear:both;
      content:"";
      display:block;
    }
  }
  .view-grouping-header { /* should be like an h2 */
    @extend %calheader;
    margin:16px 0 0 0;
  }
  h3,
  .calevent {
    padding-bottom:8px;
    padding-top:8px;
  }
  h3 {
    clear:both;
    float:left;
    font-weigth:normal;
    width:64px;
    .month {
      @extend %caldayname;
      display:block;
      text-align:center;
      width:48px;
    }
    .day {
      @extend %caldaynum;
      display:block;
      text-align:center;
      width:48px;
    }
  }
  h3:first-child,
  .calevent + h3 {
    margin-top:16px;
  }
  h3 + .calevent {
    margin-top:16px;
  }
  .calevent {
    border-left:2px #eee solid;
    float:right;
    padding-left:30px;
    width:calc(100% - 64px);
    .time {
      color:var(--calevent-grey);
      font-size:14px;
      line-height:20px;
    }
    &.allday .time .date-display-single {
      background-color:rgba(invert($blue),0.1); /* mostly transparent version of #de8f41 */
      border:1px rgba(invert($blue),0.5) solid;
      border-radius:2px;
      color:invert($blue);
      display:inline-block;
      font-size:10px;
      font-weight:bold;
      letter-spacing:0.05em;
      line-height:12px;
      padding:3px 6px;
      text-transform:uppercase;
    }
    h4 {
      font-size:18px;
      line-height:24px;
      padding-top:4px;
    }
  }
}
#calevents-minimonth {
  position:relative;
  .header {
    position:relative;
    h2 {
      @extend %calheader;
      margin:0;
    }
    .left,
    .right {
      background-position:center center;
      background-repeat:no-repeat;
      background-size:18px auto;
      cursor:pointer;
      height:28px;
      margin-top:-14px;
      top:50%;
      position:absolute;
      width:28px;
    }
    .left {
      background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-left" stroke="none" stroke-width="1" fill="#999999" points="10 32 42 0 49 7 24 32 49 57 42 64"></polygon></svg>');
      left:8px;
      &:hover {
        background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-left" stroke="none" stroke-width="1" fill="#002855" points="10 32 42 0 49 7 24 32 49 57 42 64"></polygon></svg>');
      }
    }
    .right {
      background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-right" stroke="none" stroke-width="1" fill="#999999" points="54 32 22 64 15 57 40 32 15 7 22 0"></polygon></svg>');
      right:8px;
      &:hover {
        background-image:url('data:image/svg+xml;charset=UTF-8,<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon id="angle-right" stroke="none" stroke-width="1" fill="#002855" points="54 32 22 64 15 57 40 32 15 7 22 0"></polygon></svg>');
      }
    }
  }
  .month {
    opacity:0;
    margin-top:8px;
    &.new {
      -webkit-animation:fadeIn 1s ease-out;
      -moz-animation:fadeIn 1s ease-out;
      animation:fadeIn 1s ease-out;
      opacity:1;
    }
    &.in.next {
      -webkit-animation:moveFromTopFadeMonth .4s ease-out;
      -moz-animation:moveFromTopFadeMonth .4s ease-out;
      animation:moveFromTopFadeMonth .4s ease-out;
      opacity:1;
    }
    &.out.next {
      -webkit-animation:moveToTopFadeMonth .4s ease-in;
      -moz-animation:moveToTopFadeMonth .4s ease-in;
      animation:moveToTopFadeMonth .4s ease-in;
      opacity:1;
    }
    &.in.prev {
      -webkit-animation:moveFromBottomFadeMonth .4s ease-out;
      -moz-animation:moveFromBottomFadeMonth .4s ease-out;
      animation:moveFromBottomFadeMonth .4s ease-out;
      opacity:1;
    }
    &.out.prev {
      -webkit-animation:moveToBottomFadeMonth .4s ease-in;
      -moz-animation:moveToBottomFadeMonth .4s ease-in;
      animation:moveToBottomFadeMonth .4s ease-in;
      opacity:1;
    }
  }
  .week {
    display:flex;
    flex-wrap:wrap;
    @media (min-width:$break-desktop) {
      &:not(:last-child) {
        border-bottom:2px var(--calevent-grey-light) solid;
      }
    }
  }
  .day {
    box-sizing:border-box;
    flex:0 1 calc(100% / 7);
    padding-top:8px;
    text-align:center;
    @media (min-width:$break-desktop) {
      min-height:144px;
      &:not(:first-child) {
        border-left:2px var(--calevent-grey-light) solid;
      }
    }
    .day-name {
      @extend %caldayname;
    }
    .day-number {
      @extend %caldaynum;
      border:2px transparent solid;
      box-sizing:border-box;
    }
    &.other {
      * {
        opacity:0.25;
      }
      .day-number {
        color:var(--calevent-grey);
      }
    }
    &.today {
      .day-number {
        border:2px rgba(invert($blue),0.2) solid;
        border-radius:16px;
        margin:0 auto;
        max-width:64px;
      }
    }
  }
}

@-webkit-keyframes fadeIn  {
  from { opacity:0; }
}
@-moz-keyframes fadeIn  {
  from { opacity:0; }
}
@keyframes fadeIn  {
  from { opacity:0; }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity:0; -webkit-transform:translateY(10%) scale(.97); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity:0; -moz-transform:translateY(10%) scale(.97); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity:0; transform:translateY(10%) scale(.97); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity:0; -webkit-transform:translateY(-10%) scale(.97); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity:0; -moz-transform:translateY(-10%) scale(.97); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity:0; transform:translateY(-10%) scale(.97); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity:0; -webkit-transform:translateY(-10%) scale(.97); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity:0; -moz-transform:translateY(-10%) scale(.97); }
}
@keyframes moveToTopFadeMonth {
  to { opacity:0; transform:translateY(-10%) scale(.97); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity:0; -webkit-transform:translateY(10%) scale(.97); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity:0; -moz-transform:translateY(10%) scale(.97); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity:0; transform:translateY(10%) scale(.97); }
}










